### Lists (Mutable - we can alter the lists)

In [1]:
courses = ['History', 'Math', 'Physics', 'ComputerScience']
print(courses)

['History', 'Math', 'Physics', 'ComputerScience']

In [2]:
print(len(courses))
print(courses[2]) # List Indexing
print(courses[-1]) # Working with negative indexing from end of the list

4
Physics
ComputerScience

In [3]:
print(courses[:2]) # First index inclusive and last index exclusive

['History', 'Math']

#### Appending an element at the end of the list

In [4]:
courses.append('Art')
courses

['History', 'Math', 'Physics', 'ComputerScience', 'Art']

In [5]:
# If we want to add an elemnt at specific index then we need to use insert(index, element) method.
courses.insert(2, 'Chemistry')
courses

['History', 'Math', 'Chemistry', 'Physics', 'ComputerScience', 'Art']

#### If we want to add another list of elements to the existing list then we use extend method.

In [6]:
courses_2 = ['Programming', 'Data Structures']
courses.extend(courses_2)

### Removing Elements

In [7]:
courses.remove('Art')

In [8]:
# If we want to use our list as a stack or queue then we can use pop() for removing the last element
popped_list = courses.pop()
popped_list

'Data Structures'

### Reversing the list

In [9]:
courses.reverse()
courses

['Programming', 'ComputerScience', 'Physics', 'Chemistry', 'Math', 'History']

### Sorting the list

In [10]:
courses.sort()
courses

['Chemistry', 'ComputerScience', 'History', 'Math', 'Physics', 'Programming']

### Printing list in descending order

In [11]:
courses.sort(reverse=True)
courses

['Programming', 'Physics', 'Math', 'History', 'ComputerScience', 'Chemistry']

### Without Altering the original list, we can use sorted()

In [12]:
sorted_list = sorted(courses)
sorted_list

['Chemistry', 'ComputerScience', 'History', 'Math', 'Physics', 'Programming']

In [13]:
courses

['Programming', 'Physics', 'Math', 'History', 'ComputerScience', 'Chemistry']

### Finding the index of value (searching the value in list)

In [14]:
print(courses.index('History'))

3

In [15]:
print(courses.index('Art'))

ValueError: 'Art' is not in list

In [ ]:
print('Art' in courses)

### Looping through list

In [16]:
courses

['Programming', 'Physics', 'Math', 'History', 'ComputerScience', 'Chemistry']

In [17]:
for item in courses:
    print(item)

Programming
Physics
Math
History
ComputerScience
Chemistry

In [18]:
for index, course in enumerate(courses):
    print(index, course)

0 Programming
1 Physics
2 Math
3 History
4 ComputerScience
5 Chemistry

In [19]:
help(enumerate)

Help on class enumerate in module builtins:

class enumerate(object)
 |  enumerate(iterable, start=0)
 |
 |  Return an enumerate object.
 |
 |    iterable
 |      an object supporting iteration
 |
 |  The enumerate object yields pairs containing a count (from start, which
 |  defaults to zero) and a value yielded by the iterable argument.
 |
 |  enumerate is useful for obtaining an indexed list:
 |      (0, seq[0]), (1, seq[1]), (2, seq[2]), ...
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

### join and split

In [20]:
courses_str = '-'.join(courses) # Join string values using -
courses_str

'Programming-Physics-Math-History-ComputerScience-Chemistry'

In [21]:
new_list = courses_str.split('-') # Split string values using -
new_list

['Programming', 'Physics', 'Math', 'History', 'ComputerScience', 'Chemistry']

## Tuples (immutable - we cannot change tuple objects)

when we have assigned the value of one list to another list - if we change list1 it changes the values of list 2 too.

In [22]:
tuple1 = ('Physics', 'Chemistry', 'Maths')
tuple2 = tuple1

In [23]:
tuple1

('Physics', 'Chemistry', 'Maths')

In [24]:
tuple2

('Physics', 'Chemistry', 'Maths')

In [25]:
tuple1[0] = 'Arts'
tuple1

TypeError: 'tuple' object does not support item assignment

## Sets

In [64]:
cs_courses = {'Algorithmics', 'Data Structures', 'Programming'}
cs_courses

{'Algorithmics', 'Data Structures', 'Programming'}

In [65]:
'Algorithmics' in cs_courses

True

In [66]:
art_courses = {'Programming', 'History', 'Drawing'}
art_courses

{'Drawing', 'History', 'Programming'}

In [68]:
cs_courses.intersection(art_courses)

{'Programming'}

In [69]:
cs_courses.union(art_courses)

{'Algorithmics', 'Data Structures', 'Drawing', 'History', 'Programming'}

### How to create empty lists, tuples and sets

In [79]:
# Empty List
empty_list = []
empty_list = list()

In [78]:
# Empty Tuple
empty_tuple = ()
empty_tuple = tuple()

In [80]:
# Empty Set
empty_set = ()
empty_set = set()